<footer class="my-5 pt-5 text-muted text-center text-small">
    {% block footer %}
    <p class="mb-1">&copy; 2020 Digital Library</p>
    <p>The author of a composite work owns the copyright to the selection and systematization of materials carried out by him. In turn, the site materials act as independent objects of copyright.</p>
    {% block footerLinks %}
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
    {%  endblock %}
    <p class="float-center">
      <a href="#">Back to top</a>
    </p>
    {%  endblock %}
</footer>
