{% set navbar_items = {
    'index.index': 'All Materials',
    'index.search': 'Search',
    'admin.index': 'Admin',
} %}
{# TODO: add `admin.index` only for users with admin rights #}

{# needs to be changed on every page; the default value #}
{% set active_page = 'index.index' %}

<nav class="navbar navbar-expand-lg navbar-dark bg-moodle">
    {% block navbar %}
    <a class="navbar-brand" href="">Menu</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% block menu %}
            {% for page, title in navbar_items.items() %}
                <a class="nav-link {% if page == active_page %}active{% endif %}" href="{{ url_for(page) }}">{{ title }}</a>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
    {% if current_user.is_authenticated %}
        <span class="label">{{ current_user.Email }}</span>
        <a class="nav-link {% if page == active_page %}active{% endif %}" href={{ '/logout' }}>Sign out</a>
    {% else %}
        <a class="nav-link {% if page == active_page %}active{% endif %}" href={{ '/login' }}>Sign in</a>
    {% endif %}

    {%  endblock %}
</nav>
