{% extends '_page.html' %}
{% block content %}
    <div class="container">
    <div class = "row">
    {% for item in materials %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card h-100 m-4">
                <h5 class="card-header">{{ item.Title }}</h5>
                <div class="card-body">
                    <h5 class="card-title">
                        Tags:
                        {% for tag in item.tags %}
                            {{ tag }};
                        {% endfor %}
                    </h5>
                    <h5 class="card-text">{{ item.Type }}</h5>
                    <h3 class="card-text">Description: {{ item.Description }}</h3>
                    <h3 class="card-text">Authors:
                        {% for author in item.authors %}
                            {{ author }};
                        {% endfor %}
                    </h3>
                    <a class="button" href={{ url_for('index.material_overview', material_id = item.id) }}>Go to the material</a>
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>
    </div>
{% endblock %}
