{% extends '_page.html' %}
{% set active_page = 'index.index' %}

{% block content %}
    <div class="container">
    <div class = "row">
    {% for item in materials %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card h-100 m-4">
                <div class="card-body">
                    {% if item.authors|length > 0 %}
                        <h6 class="card-text text-secondary">Authors:
                            {% for author in item.authors %}
                                {{ author.FullName }}
                                {% if not loop.last %}
                                    ;
                                {% endif %}
                            {% endfor %}
                        </h6>
                        <hr class="hr">
                    {% endif %}
                    {% if item.Title %}
                        <strong>
                            <h2 class="card-title">
                                <a class="text-dark" href={{ url_for('index.material_overview', material_id = item.id) }}>{{ item.Title }}</a>
                            </h2>
                        </strong>
                    {% endif %}
                    {% if item.tags|length > 0 %}
                        <h5 class="card-text text-secondary">
                            Tags:
                            {% for tag in item.tags %}
                                <a href="" class="badge badge-pill bg-moodle">{{ tag.Name }}</a>
                            {% endfor %}
                        </h5>
                    {% endif %}
                    {% if  item.tags|length > 0 or item.Title%}
                        <hr class="hr"/>
                    {% endif %}
                    {% if item.Type %}
                        <small>
                            <p class="h6">{{ item.Type }}</p>
                        </small>
                    {% endif %}
                    {%  if item.Description %}
                        <p class="h4">{{ item.Description }}</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="button" href={{ url_for('index.material_overview', material_id = item.id) }}>Go to the material</a>
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>

    {# Switcher between pages. #}
    {# Нада красиво его сделать или хотя бы в центр поставить #}
    {# Если не получится, то придется ручками #}
    <br>
    <br>
    {{ pagination.links }}

    {# Case for a single page #}
    {% if pagination.total_pages == 1 %}
        {# Current page only #}
        <a>1</a>
    {% endif %}

    {# Case for the number of pages #}
    {% if pagination.total_pages > 1 %}
        {# Previous page #}
        {% if pagination.has_prev %}
            <a href="?page={{ page - 1 }}"><<</a>
        {% endif %}

        {# First page #}
        {% if pagination.has_prev and page != 1%}
            <a href="?page={{ 1 }}">1</a>
        {% endif %}

        {# Dots left #}
        {% if pagination.has_prev and page != 1%}
            <a>...</a>
        {% endif %}

        {# Current page #}
        <a>{{ page }}</a>

        {# Dots right #}
        {% if pagination.has_next %}
            <a>...</a>
        {% endif %}

        {# Last page #}
        {% if pagination.has_next %}
            <a href="?page={{ pagination.total_pages }}">{{ pagination.total_pages }}</a>
        {% endif %}

        {# Next page #}
        {% if pagination.has_next %}
            <a href="?page={{ page + 1 }}">>></a>
        {% endif %}
    {% endif %}

    </div>
{% endblock %}

{# TODO: add pagination to the frontend #}
