{% extends '_page.html' %}
{% block content %}
    <div class="container">
    <div class = "row">
    {% for item in data%}
        <div class="col-12 col-md-6 align-items-stretch">
            <div class="card m-4">
                <h5 class="card-header">{{ item["title"] }}</h5>
                <div class="card-body">
                    <h5 class="card-title">
                        Tags:
                        {% for tag in item['tags']%}
                            {{tag}};
                        {% endfor %}
                    </h5>
                    <h5 class="card-text">{{ item["type"] }}</h5>
                    <h3 class="card-text">Description: {{ item["description"] }}</h3>
                    <h3 class="card-text">Authors:
                        {% for author in item['authors']%}
                            {{author}};
                        {% endfor %}
                    </h3>
                    <a class="button" href={{ url_for('index.material_overview', material_id = item['id']) }}>Go to the material</a>
                </div>
            </div>
        </div>
    {%  endfor %}
    </div>
    </div>
{% endblock %}