<!--Author: Andrey-->
{% extends '_page.html' %}
{% block content %}
    <div class="card">
        {% for item in data.items() %}
            <h5 class="card-header">{{ item["title"] }}</h5>
            <div class="card-body">
                {% for tag in item['tags']%}
                    <h5 class="card-title">{{tag}}</h5>
                {% endfor %}
                <h5 class="card-title">{{ item["type"] }}</h5>
                <a class="btn btn-primary" href={{ url_for('index.material', material_id = id) }}>Go to the material</a>
            </div>
        {%  endfor %}
    </div>
{% endblock %}