{% extends '_page.html' %}
{% block content %}
    {# Overview part #}
    <div class="container">
        <p></p>
        <div class="col-md-12 col-md-6 mb-4">
            <div class="row">
                <div class="col-sm-6" style="background-color:white;">
                    <h5><span style="font-size: x-large; ">{{ material.Title }}</span></h5>
                        <div>
                            <h5 class="card-text text-secondary"><span style="font-size: medium; ">
                                <strong>Tags</strong>:
                                {% for tag in material.tags %}
                                    <a href="/search?text=&tag={{ tag.Name }}" class="badge badge-pill bg-moodle">{{ tag.Name }}</a>
                                {% endfor %}
                            </span></h5>
                            <h6><span style="font-size: medium; ">{{ material.Type }}</span></h6>
                            <br />
                            <h5><span style="font-size: large; "><strong>Description:</strong> {{ material.Description }}</span></h5>
                            <h5 class="card-text text-secondary"><span style="font-size: medium; "><strong>Authors</strong>:
                                {% for author in material.authors %}
                                    {{author.FullName }};
                                {% endfor %}
                            </span></h5>
                        </div>
                </div>
            </div>
        </div>
    </div>

    {# Attachment part #}
    <div class="container">
        {% if material.attachments|length %}
            {% for attachment in material.attachments %}

                {% if attachment.Type == "video" %}

                    {% if "www.youtube.com" in attachment.Url %}

                        {% if "www.youtube.com/embed/" in attachment.Url %}
                            <div class="row h-100 justify-content-center" style="padding: 10px;">
                                <iframe width="100%" height="500" align="middle" src={{ attachment.Url }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen onload="autoResize(this);"></iframe>
                            </div>
                        {% endif %}

                        {% if "www.youtube.com/watch?v=" in attachment.Url %}
                            <div class="row h-100 justify-content-center" style="padding: 10px;">
                            <iframe width="100%" height="500" align="middle" src={{ "https://www.youtube.com/embed/" + attachment.Url.split("=")[1] }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen onload="autoResize(this);"></iframe>
                            </div>
                        {% endif %}

                    {% endif %}

                {% elif attachment.Type == "image" %}
                    <div class="row justify-content-center" style="padding: 10px;">
                        <img src={{ attachment.Url }} alt="image">
                    </div>
                {% else %}
                    <div class="row justify-content-center">
                        <a href={{ attachment.Url }} > Download {{ attachment.Type }} attachment</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            No attachments found
        {% endif %}
    </div>
    {# Comment section part#}
    <div class = "container">
        <div class="row mb-4">
        </div>
        <form>
            <div class="form-group">
                <textarea class="form-control" name="review" rows="3"></textarea>
            </div>
            <button type="submit" class="button"><p class="h5">Post it</p></button>
        </form>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
        </div>

        <div class="row">
            {% for comment in comments %}
                <div class="col-12">
                    <div class="card d-flex mb-4 mt-4">
                        <div class="card-body">
                            {% if comment.author %}
                                <p class="h6 text-secondary">
                                    <img src="#" alt="User" height="20" width="20" vspace="5" hspace="5"/>
                                    {{ comment.author.FullName }}
                                </p>
                            {% endif %}
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <br>
                            <br>
                            {% if comment.Text %}
                                <p class="h3">{{ comment.Text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {# Switcher between pages. #}
    <br>
    <br>
    {{ pagination.links }}
{% endblock %}
