{% extends '_page.html' %}
{% block content %}
    {# Overview part #}
    <div class="container">
        <p></p>
        <div class="col-md-12 col-md-6 mb-4">
            <div class="row">
                <div class="col-sm-4" style="background-color:antiquewhite;">
                    <p class="text-center">
                        {% if material.attachments|length %}
                            {% for attachment in material.attachments %}
                            <a href={{ attachment.Url }} > Download {{ attachment.Type }} attachment</a>
                            {% endfor %}
                        {% else %}
                            No attachments found
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-6" style="background-color:white;">
                    <h5><font size="6">{{ material.Title }}</font></h5>
                        <div>
                            <h5 class="card-text text-secondary"><font size="4">
                                <strong>Tags</strong>:
                                {% for tag in material.tags %}
                                    <a href="" class="badge badge-pill bg-moodle">{{ tag.Name }}</a>
                                {% endfor %}
                            </font></h5>
                            <h6><font size="4">{{ material.Type }}</font></h6>
                            <br />
                            <h5><font size="5"><strong>Description:</strong> {{ material.Description }}</font></h5>
                            <h5 class="card-text text-secondary"><font size="4"><strong>Authors</strong>:
                                {% for author in material.authors %}
                                    {{author.FullName }};
                                {% endfor %}
                            </font></h5>
                        </div>
                </div>
            </div>
            <div class="footer">
                    <a class="badge badge-pill bg-moodle" href={{url_for('index.material_comment_section', material_id = material.id)}}>Comment section</a>
            </div>
        </div>
    </div>

    {# Comment section part#}
    <div class="container">
        <div class="row">
        </div>

        <div class="row">
            {% for comment in comments %}
                <div class="col-12 mb-4">
                    <div class="card h-75 m-4">
                        <div class="card-body">
                            {% if comment.author %}
                                <p class="h6 text-secondary">
                                    <img src="#" alt="User" height="20" width="20" vspace="5" hspace="5"/>
                                    {{ comment.author.FullName }}
                                </p>
                            {% endif %}
                            {% if comment.Text %}
                                <p class="h3">{{ comment.Text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            Page number: {{ page }}
            {{ pagination.links }}
        </div>
    </div>
{% endblock %}
