{% extends '_page.html' %}

{% block content %}
    <form action='/register' method='POST'>
        <div class="container">
            <h2>Register</h2>
            <hr>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="first_name" class="form-control" id="firstName">
            </div>
            <div class="form-group">
                <label for="secondName">Second Name</label>
                <input type="text" name="second_name" class="form-control" id="secondName">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" placeholder="name@example.com" name="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" required>
            </div>
            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="password" class="form-control" id="repeatPassword" required>
            </div>
            <button type="submit" class="registerbtn">Register</button>
            <div class="container signin">
                <p>Already have an account? <a href={{ '/login' }}>Sign in</a>.</p>
            </div>
        </div>
    </form>
{% endblock %}